.header {
   color: white;
   background-color: #282c34;
   position: fixed;
   top: 0;
   height: 5vw;
   width: 100%;
   text-align: middle center;
   z-index: 999;
}

.navbar {
   position: absolute;
   float: right;
   right: 2%;
   top: 5%;
}

.navbar > * {
   margin-left: 10px;
}