<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/64bb1bec-a7d3-4aed-8966-725538e4ba4b/resourcegroups/WebShopLexicon/providers/Microsoft.Web/sites/IAM20210715143921</ResourceId>
    <ResourceGroup>WebShopLexicon</ResourceGroup>
    <ApiResourceId>/subscriptions/64bb1bec-a7d3-4aed-8966-725538e4ba4b/resourceGroups/WebShopLexicon/providers/Microsoft.ApiManagement/service/WebShop-iam-01/apis/iam-01-webshop</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://iam20210715143921.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>ebeaaa1e-5f18-483c-82c4-d8bb29f67aef</ProjectGuid>
    <MSDeployServiceURL>iam20210715143921.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IAM20210715143921</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IAM20210715143921</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>